body {
    background-color: #00449e;
    font-family: 'Montserrat', sans-serif;
    color: #becbff;
}

a {
    color: #0ef;
}

a:hover {
    color: yellow;
    text-decoration: none;
}

h1, .section-heading {
    font-size: 3.3em;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2.25pt 2.25pt 7.5pt black;
}

h2, .section-subheading {
    font-size: 2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 3px .03125in .625pc black;
}

p {
    font-size: 1.2rem;
    text-align: center;
    color: #becbff;
    text-shadow: .0625pc .0625pc 5px black;
}

footer {
    text-align: center;
    padding-top: .2rem;
    padding-bottom: 4rem;
    text-shadow: 2px 1.5pt 7.5pt black;
}

.tooltip > .tooltip-inner {
    background-color: blue;
    color: #fff;
    border-radius: .0625in;
    font-size: .125in;
    padding: 5.25pt;
}

.tooltip.top > .tooltip-arrow {
    border-top-width: 1.5pt;
    border-top-color: #ff0;
}

.tooltip.bottom > .tooltip-arrow {
    border-bottom-width: .052083333in;
    border-bottom-style: solid;
    border-bottom-color: #ff0;
}

.tooltip.left > .tooltip-arrow {
    border-left-width: 3.75pt;
    border-left-style: solid;
    border-left-color: #ff0;
}

.tooltip.right > .tooltip-arrow {
    border-right-width: 3.75pt;
    border-right-style: solid;
    border-right-color: #ff0;
}

.weather-icon-div {
    font-size: 3rem;
    min-width: 8rem;
    color: white;
}

.weather-description {
    font-size: .8rem;
    margin-top: .2rem;
    margin-bottom: .6rem;
}

.weather-temperatures {
    font-size: .9rem;
    color: #ffe8c6;
}

.keyword-magnet {
    color: #ddd;
    font-size: .85em;
    line-height: 2.2em;
    margin: .1em;
    padding: .15em .5em;
    border: 1.7px solid #ddd;
    border-radius: .0625in;
}

.forecast-block {
    margin: 0 auto;
    width: 90%;
}

#query-form {
    margin: auto;
    max-width: 85%;
}

.section-divider, .subsection-divider {
    margin: 2rem auto;
    width: 80%;
    opacity: .75;
    border-top: 1px solid #889fb3;
}

.subsection-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.weather-date {
    font-size: 1.2rem;
    margin: .8rem 0;
}

.section-description {
    margin-bottom: 3rem;
}
